---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Brands from "../components/Brands.astro";
import Stats from "../components/Stats.astro";
import Categories from "../components/Categories.astro";
import PlusPoints from "../components/PlusPoints.astro";
import Testimonials from "../components/Testimonials.astro";
import Closing from "../components/Closing.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Brands />
		<Stats />
		<Categories />
		<PlusPoints />
		<Testimonials />
		<Closing />
	</main>
	<Footer />
</Layout>
